{% extends 'base.html' %}
{% block content %}

<div class="home">
    <div class="title">
        <h1>
            Resources
        </h1>
        <hr>
        <p>This is the Resource section</p>
    </div>

    <h2>General Coding Resources</h2>
    <ul>
        <li><button><a href="https://github.com/">Github</a></button></li>
        <li><button><a href=""></a></button></li>
        <li><button><a href=""></a></button></li>
        <li><button><a href=""></a></button></li>
    </ul>


</div>


{% endblock %}